body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.Botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.homeUl {
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.buttons {
    width: 140px;
    height: 140px;
}

.butao {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px rgb(116, 116, 116);
    border: none;
    background-color: #FFFFFF;
}

.buttons p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-weight: bolder;
}

button img {
    width: 80px;
    height: 80px;
}