.divBody {
    background-color: #FFF;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sectionRole {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
}

li p {
    font-size: 20px;
}

.imagemUniversitario {
    width: 90px;
    height: 90px;
}

.titulos {
    display: flex;
    width: 600px;
    justify-content: space-between;
    font-weight: bolder;
    margin-top: 30px;
}